* {
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vinyl{
    width: 600px;
    height: 500px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    box-shadow: 4px 9px 12px rgba(0, 0, 0, 0.9), -4px 4px 10px rgba(0, 0, 0, 0.9);
}

.vinyl__disk {
    width: 67%;
    height: 80%;
    background: #000;
    border-radius: 50%;
    margin: 50px;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, 0.9), -4px 4px 6px rgba(0, 0, 0, 0.9);
    position: relative;
}

.vinyl__disk::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: repeating-radial-gradient(circle, darkkhaki, darkkhaki, 1px, transparent 2px, transparent 5px);
    border-radius: 50%;
    margin: auto;
    opacity: .1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vinyl__logo {
    width: 120px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/vinyl5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    z-index: 1;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, 0.9), -4px -7px 6px rgba(0, 0, 0, 0.9), 9px -1px 6px rgba(0, 0, 0, 0.9), -4px 4px 6px rgba(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.vinyl__logo::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #888;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, 0.9);
}
.stick::after {
  content: '';
  width: 8em;
  height: 8em;
  display: block;
  position: absolute;
  top: 0;
  margin-top: 25px;
  background: #fff, repeating-conic-gradient(rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7) 72deg, rgba(12, 12, 12, 0.1) 92deg, rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), 270deg, rgba(12, 12, 12, 0.1) 278deg, rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7));
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: inset 0px -1px 2px 1px rgba(78, 77, 77, 0.9), inset 0px 2px 1px 2px rgba(243, 239, 239, 0.9);
}
