.element {
    transform: rotate(-64deg); /* положение до анимации */
    /*transform: rotate(-44deg); /* положение в момент анимации */
    width: 70px;
    height: 25px;
}

.top {
    background-color: #383838;
    width: 70px;
    height: 7.5px;
    border-top: 4px solid #212121;
}

.center {
    width: 70px;
    height: 2px;
    background-color: white;
}

.bottom {
    background-color: #383838;
    width: 70px;
    height: 7.5px;
    border-bottom: 4px solid #212121;
}