@font-face {
    font-family: 'icons-font';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Glyphter.woff') format('woff'),
        url('../fonts/Glyphter.ttf') format('truetype'),
        url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vinyl {
    width: 600px;
    height: 500px;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    box-shadow: 4px 9px 12px rgba(0, 0, 0, 0.9), -4px 4px 10px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    position: relative;
}

.vinyl__disk {
    width: 67%;
    height: 80%;
    background: #000;
    border-radius: 50%;
    margin: 40px 150px 30px 30px;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, 0.9), -4px 4px 6px rgba(0, 0, 0, 0.9);
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.vinyl__disk::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: repeating-radial-gradient(circle, darkkhaki, darkkhaki, 1px, transparent 1px, transparent 5px);
    border-radius: 50%;
    margin: auto;
    opacity: .1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vinyl__logo {
    width: 170px;
    height: 170px;
    background-image: url(../img/vinyl5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 12px solid #000;
    border-radius: 50%;
    opacity: 1;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 110px;
    margin-left: 25px;

}

.vinyl__logo::before {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #888;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, 0.9);
}

.play-btn__input {
    display: none;
}

.play-btn {
    padding: 20px;
    display: block;
    position: absolute;
    font-family: 'icons-font';
    bottom: 25px;
    right: 25px;
    font-size: 1.2em;
    font-weight: bold;
    color: hsla(0, 0%, 20%, 1);
    background-color: rgb(230, 230, 230);
    box-shadow: inset rgb(38, 38, 38) 0 0px 0px 4px, /* border */
        inset hsla(0, 0%, 15%, 0.8) 0 0 5px 4px, /* soft SD */
        inset rgba(0, 0, 0, 0.25) 0 0 0px 8px,  /* bottom SD */
        inset rgba(255, 255, 255, 0.7) 0 0 1px 7px,  /* top HL */
        rgba(0, 0, 0, .5) 0 0 5px 0; /* outer HL */
    border-radius: 50%;
    background: repeating-radial-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.3) 5%),
        -webkit-radial-gradient(50% 50%, 200% 50%, rgb(209, 209, 209) 5%, rgb(182, 181, 181) 30%, rgb(163, 163, 163) 100%);

}

.play-btn::before,
.play-btn::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;

    /* fake conical gradients */
    background-image: -webkit-radial-gradient(50% 0%, 10% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
        -webkit-radial-gradient(50% 100%, 10% 50%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
        -webkit-radial-gradient(0% 50%, 50% 10%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%),
        -webkit-radial-gradient(100% 50%, 50% 06%, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
}

.play-btn::after {
    transform: rotate(60deg);
}
.stick {
	position: relative;
	width: 20px;
}

input[type="checkbox"]:checked ~ .vinyl__disk .vinyl__logo{
    animation-name: turn_logo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 3s;

} 

@keyframes turn_logo{
    from {
    transform: rotate(0deg);
    }
    to {
    transform : rotate(360deg);
    }
} 

.elementC::after {
    content: '';
    left: 115px;
    top: 55px;
    position: absolute;
    display: block;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    width: 8em;
    height: 8em;
    z-index: -1;
    background: #fff repeating-conic-gradient(
  rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), 
  rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7) 72deg, rgba(12, 12, 12, 0.1) 92deg, 
  rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), 270deg, rgba(12, 12, 12, 0.1) 278deg, rgba(212, 212, 212, 0.7), 
  rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), 
  rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7));

}

.elementC::before {
    content: '';
    width: 132px;
    height: 132px;
    position: absolute !important;
    z-index: -1;
    top: -14px;
    left: 47px;
    background: #fff repeating-conic-gradient(
  rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), 
  rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7) 72deg, rgba(12, 12, 12, 0.1) 92deg, 
  rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), 
  rgba(212, 212, 212, 0.7), 270deg, rgba(12, 12, 12, 0.1) 278deg, rgba(212, 212, 212, 0.7), 
  rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), 
  rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7));
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: inset 0px -1px 2px 1px rgba(78, 77, 77, 0.9), inset 0px 2px 1px 2px rgba(243, 239, 239, 0.9);
}

.elementB:before {
	width: 54px;
    height: 23px;
	display: block;
	background: rgb(173,173,173);
	background: linear-gradient(90deg, rgba(173,173,173,1) 0%, rgba(249,249,249,1) 25%, rgba(249,249,249,1) 50%, rgba(249,249,249,1) 75%, rgba(173,173,173,1) 100%);
    content: " ";
    position: absolute;
	top: 10px;
	left: 200px;
}

.elementA::before{
    content: '';
    top: -130px;
    left: 225px;
    display: block;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    background: #fff repeating-conic-gradient(rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7) 72deg, rgba(12, 12, 12, 0.1) 92deg, rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), 270deg, rgba(12, 12, 12, 0.1) 278deg, rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7), rgba(212, 212, 212, 0.7), rgba(12, 12, 12, 0.2), rgba(12, 12, 12, 0.2), rgba(212, 212, 212, 0.7));

}

.element1 {
    box-sizing: border-box;	    
    transform: rotate(-64deg); /* положение до анимации */
    /*transform: rotate(-44deg); /* положение в момент анимации */
}	    

.top {
    background-color: #383838;
    width: 70px;
    height: 7.5px;
    border-top: 4px solid #212121;
}	  

.center {
    width: 70px;
    height: 2px;
    box-shadow: 4px 9px 12px rgba(0, 0, 0, 0.9), -4px 4px 10px rgba(0, 0, 0, 0.9);
    background-color: white;
}	 

.bottom {
    background-color: #383838;
   	width: 70px;
    height: 7.5px;
    border-bottom: 4px solid #212121;
}