* {
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 600px;
    height: 500px;
    justify-content: center;
}

.bg-all {
    width: 100%;
    height: 100%;
    margin: 20vh auto;
    background-image: url(../img/background.png);
    padding-top: 1px;
}

.vinil {
    width: 67%;
    height: 80%;
    background: #000;
    border-radius: 50%;
    margin: 50px;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, 0.9), -4px 4px 6px rgba(0, 0, 0, 0.9);
    position: relative;
}

.logo {
    width: 100%;
    height: 100%;
    background: repeating-radial-gradient(circle, darkkhaki, darkkhaki, 1px, transparent 2px, transparent 5px);
    border-radius: 50%;
    margin: auto;
    opacity: .1;
}

.logo_img {
    width: 90px;
    height: 90px;
    top: 42.5%;
    left: 44.5%;
    background-image: url(../img/vinyl5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    z-index: 1;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, 0.9), -4px -7px 6px rgba(0, 0, 0, 0.9), 9px -1px 6px rgba(0, 0, 0, 0.9), -4px 4px 6px rgba(0, 0, 0, 0.9);
}

.center {
    margin: 35px auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #888;
    box-shadow: 4px 7px 6px rgba(0, 0, 0, 0.9);
}

.shadow {
    background-color: pink;
    opacity: 1;
}
